@import "tailwindcss";


@theme {
  --color-blue: #3B82F6;
  --color-hover: #2563EB;
  --color-background: #0F172A;
  --color-surface-cards : #1E293B;
  --color-border : #334155;
  --color-primary : #F8FAFC;
  --color-secondary : #94A3B8;
  --color-success : #22C55E;
  --color-error : #EF4444;
  --color-warning : #F59E0B;

}

.h1 {
  font-size: 40px;
  font-weight: 600;
  font-style: semibold;
  line-height: 100%;
}

.h2 {
  font-size: 28px;
  font-weight: 600;
  font-style: semibold;
  line-height: 100%;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
  font-style: semibold;
  line-height: 100%;
}

.body {
  font-size: 15px;
  font-weight: 400;
  font-style: regular;
  line-height: 100%;
}

.small {
  font-size: 13px;
  font-weight: 400;
  font-style: regular;
  line-height: 100%;
}
.small2 {
  font-size: 12px;
  font-weight: 400;
  font-style: regular;
  line-height: 100%;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
}